<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item--ul">
                <% products.forEach(p => { %>
                    <li class="cart__item--li">
                        <!-- p.productData.title is for using .json -->
                        <div class="cart__item--container">
                            <h1><%= p.title %></h1>
                            <img class="cart__item--img" src="<%= p.imageUrl %>" />
                            <h2>Qty: <%= p.cartItem.quantity %></h2>
                            <form 
                                action="/cart-delete-item" 
                                method="POST"
                                class="margin-bottom-btn"
                            >
                                <input type="hidden" value="<%= p.id %>" name="productId">
                                <button class="btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <div class="centered">
                <form action="/create-order" method="POST" >
                    <button type="submit" class="btn cart__item--order">
                        Oder
                    </button>
                </form>
            </div>
        <% } else { %>
            <h1>No Products in Cart</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>